table, th, td {
    border: 1px solid orange;
}

table {
    width: 100%;
}

.amount {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#first-direction {
    color: red;
}

.recipe-title {
    color: orange;
    font-family: Snell Roundhand, cursive;
}

#sweetpotato {
    background-image: url("https://tmbidigitalassetsazure.blob.core.windows.net/rms3-prod/attachments/37/1200x1200/Sweet-Potato-Pie_EXPS_GHBZ18_1203_B08_15_3b.jpg");

}

#direction-start {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}